-- 1. Workspace Integrations Table
-- Stores OAuth credentials and connection state for external providers
create table if not exists public.workspace_integrations (
    id uuid default gen_random_uuid() primary key,
    workspace_id uuid references public.workspaces(id) on delete cascade not null,
    provider text not null, -- e.g., 'linkedin', 'twitter', 'slack', 'notion'
    account_id text not null, -- The external ID of the user/page on the provider
    account_name text not null, -- Human readable name
    access_token text not null, -- Should be encrypted at the application layer
    refresh_token text,
    scopes text[],
    expires_at timestamp with time zone,
    status text default 'active' check (status in ('active', 'expired', 'error')),
    last_health_check timestamp with time zone default timezone('utc'::text, now()),
    metadata jsonb default '{}'::jsonb,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
    unique(workspace_id, provider, account_id)
);

-- 2. Publishing Queue Table
-- A cross-platform queue for scheduling and tracking content deployment
create table if not exists public.publishing_queue (
    id uuid default gen_random_uuid() primary key,
    workspace_id uuid references public.workspaces(id) on delete cascade not null,
    project_id uuid references public.projects(id) on delete cascade,
    campaign_id uuid references public.campaigns(id) on delete set null,
    asset_id uuid references public.assets(id) on delete cascade not null,
    integration_id uuid references public.workspace_integrations(id) on delete cascade not null,
    status text default 'scheduled' check (status in ('draft', 'scheduled', 'publishing', 'published', 'failed', 'cancelled')),
    scheduled_for timestamp with time zone not null,
    published_at timestamp with time zone,
    platform_post_id text, -- The ID of the post on the external platform
    platform_post_url text,
    error_message text,
    retry_count integer default 0,
    max_retries integer default 3,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- 3. Webhooks Table
-- Manages incoming/outgoing event subscriptions
create table if not exists public.webhooks (
    id uuid default gen_random_uuid() primary key,
    workspace_id uuid references public.workspaces(id) on delete cascade not null,
    name text not null,
    url text not null,
    secret text not null,
    events text[] not null, -- e.g., ['asset.generated', 'post.published']
    status text default 'active' check (status in ('active', 'inactive', 'failing')),
    last_triggered_at timestamp with time zone,
    failure_count integer default 0,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- RLS Policies
alter table public.workspace_integrations enable row level security;
alter table public.publishing_queue enable row level security;
alter table public.webhooks enable row level security;

-- Workspace Integrations RLS
create policy "Users can view workspace_integrations for their workspaces"
    on public.workspace_integrations for select
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can manage workspace_integrations for their workspaces"
    on public.workspace_integrations for all
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

-- Publishing Queue RLS
create policy "Users can view publishing_queue for their workspaces"
    on public.publishing_queue for select
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can manage publishing_queue for their workspaces"
    on public.publishing_queue for all
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

-- Webhooks RLS
create policy "Users can view webhooks for their workspaces"
    on public.webhooks for select
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can manage webhooks for their workspaces"
    on public.webhooks for all
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

