-- Enable the pgvector extension to work with embedding vectors
create extension if not exists vector;

-- 1. Knowledge Base Table
-- Stores references to uploaded PDFs, URLs, Guidelines, etc.
create table if not exists public.knowledge_base (
    id uuid default gen_random_uuid() primary key,
    workspace_id uuid references public.workspaces(id) on delete cascade not null,
    project_id uuid references public.projects(id) on delete cascade,
    title text not null,
    source_type text not null, -- 'pdf', 'url', 'text', 'brand_guideline'
    source_url text,           -- Supabase storage URL or external link
    metadata jsonb default '{}'::jsonb,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- 2. Document Chunks Table
-- Stores the actual text chunks and their vector embeddings
create table if not exists public.document_chunks (
    id uuid default gen_random_uuid() primary key,
    knowledge_base_id uuid references public.knowledge_base(id) on delete cascade not null,
    workspace_id uuid references public.workspaces(id) on delete cascade not null,
    content text not null,
    embedding vector(1536), -- OpenAI text-embedding-3-small uses 1536 dimensions
    chunk_index integer not null,
    metadata jsonb default '{}'::jsonb,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- 3. Project Memory Table
-- Long-term memory for every project (conversations, decisions, feedback)
create table if not exists public.project_memory (
    id uuid default gen_random_uuid() primary key,
    workspace_id uuid references public.workspaces(id) on delete cascade not null,
    project_id uuid references public.projects(id) on delete cascade not null,
    memory_type text not null, -- 'user_feedback', 'generated_asset', 'campaign_result', 'brand_decision'
    content text not null,
    embedding vector(1536),    -- Vectorize memories for semantic retrieval
    importance_score float default 1.0, -- How critical is this memory?
    created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Enable RLS
alter table public.knowledge_base enable row level security;
alter table public.document_chunks enable row level security;
alter table public.project_memory enable row level security;

-- Policies for knowledge_base
create policy "Users can view knowledge_base for their workspaces"
    on public.knowledge_base for select
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can insert knowledge_base for their workspaces"
    on public.knowledge_base for insert
    with check (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can update knowledge_base for their workspaces"
    on public.knowledge_base for update
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can delete knowledge_base for their workspaces"
    on public.knowledge_base for delete
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

-- Policies for document_chunks
create policy "Users can view document_chunks for their workspaces"
    on public.document_chunks for select
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can insert document_chunks for their workspaces"
    on public.document_chunks for insert
    with check (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can update document_chunks for their workspaces"
    on public.document_chunks for update
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can delete document_chunks for their workspaces"
    on public.document_chunks for delete
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

-- Policies for project_memory
create policy "Users can view project_memory for their workspaces"
    on public.project_memory for select
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can insert project_memory for their workspaces"
    on public.project_memory for insert
    with check (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can update project_memory for their workspaces"
    on public.project_memory for update
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));

create policy "Users can delete project_memory for their workspaces"
    on public.project_memory for delete
    using (workspace_id in (select workspace_id from public.workspace_users where user_id = auth.uid()));


-- Create a function to perform semantic search via cosine similarity ( <=> )
create or replace function match_document_chunks (
  query_embedding vector(1536),
  match_threshold float,
  match_count int,
  p_workspace_id uuid,
  p_project_id uuid default null
)
returns table (
  id uuid,
  knowledge_base_id uuid,
  content text,
  similarity float
)
language sql stable
as \$\$
  select
    document_chunks.id,
    document_chunks.knowledge_base_id,
    document_chunks.content,
    1 - (document_chunks.embedding <=> query_embedding) as similarity
  from document_chunks
  join knowledge_base on knowledge_base.id = document_chunks.knowledge_base_id
  where document_chunks.workspace_id = p_workspace_id
    and (p_project_id is null or knowledge_base.project_id = p_project_id)
    and 1 - (document_chunks.embedding <=> query_embedding) > match_threshold
  order by document_chunks.embedding <=> query_embedding
  limit match_count;
\$\$;

-- Create a function to perform semantic search on project memories
create or replace function match_project_memories (
  query_embedding vector(1536),
  match_threshold float,
  match_count int,
  p_workspace_id uuid,
  p_project_id uuid
)
returns table (
  id uuid,
  memory_type text,
  content text,
  importance_score float,
  similarity float
)
language sql stable
as \$\$
  select
    project_memory.id,
    project_memory.memory_type,
    project_memory.content,
    project_memory.importance_score,
    1 - (project_memory.embedding <=> query_embedding) as similarity
  from project_memory
  where project_memory.workspace_id = p_workspace_id
    and project_memory.project_id = p_project_id
    and 1 - (project_memory.embedding <=> query_embedding) > match_threshold
  order by (project_memory.embedding <=> query_embedding) * (1 / project_memory.importance_score)
  limit match_count;
\$\$;
