-- Universal Jobs Table
-- Used to track all background tasks, AI generation, and async workloads.

DROP TABLE IF EXISTS generation_jobs;

CREATE TABLE IF NOT EXISTS jobs (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
    workspace_id UUID REFERENCES workspaces(id) ON DELETE CASCADE,
    project_id UUID,
    
    job_type TEXT NOT NULL, 
    status TEXT NOT NULL DEFAULT 'queued', 
    
    provider TEXT, 
    provider_job_id TEXT, 
    priority INTEGER DEFAULT 0,
    progress INTEGER DEFAULT 0,
    current_step TEXT,
    
    input_payload JSONB NOT NULL DEFAULT '{}'::jsonb,
    output_reference JSONB, 
    error JSONB, 
    
    retry_count INTEGER DEFAULT 0,
    max_retries INTEGER DEFAULT 3,
    
    started_at TIMESTAMP WITH TIME ZONE,
    completed_at TIMESTAMP WITH TIME ZONE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_jobs_workspace_id ON jobs(workspace_id);
CREATE INDEX IF NOT EXISTS idx_jobs_user_id ON jobs(user_id);
CREATE INDEX IF NOT EXISTS idx_jobs_status ON jobs(status);
CREATE INDEX IF NOT EXISTS idx_jobs_type ON jobs(job_type);

ALTER TABLE jobs ENABLE ROW LEVEL SECURITY;

CREATE POLICY ""Users can view jobs in their workspaces"" ON jobs
    FOR SELECT USING (
        workspace_id IN (
            SELECT workspace_id FROM workspace_members WHERE user_id = auth.uid()
        )
    );

CREATE POLICY ""Users can create jobs"" ON jobs
    FOR INSERT WITH CHECK (
        workspace_id IN (
            SELECT workspace_id FROM workspace_members WHERE user_id = auth.uid()
        )
    );

ALTER PUBLICATION supabase_realtime ADD TABLE jobs;
